<h2 class="bkListHead">Book Details</h2>
<mat-card class="bkList" *ngIf="book">
  <mat-card-header>
    <mat-card-title>
      Title: {{ book.title }}
    </mat-card-title>
    <mat-card-subtitle>
      Author: {{ book.author }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Year: {{ book.year }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description: {{ book.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add to Cart</button>
  </mat-card-actions>
</mat-card>
